---
export interface Props {
  title?: string;
  description?: string;
  variant?:
    | "default"
    | "primary"
    | "secondary"
    | "outline"
    | "ghost"
    | "info"
    | "success"
    | "warning"
    | "error";
  size?: "small" | "medium" | "large";
  align?: "left" | "center" | "right";
  href?: string;
  disabled?: boolean;
  class?: string;
}

const {
  title,
  description,
  variant = "default",
  size = "medium",
  align = "center",
  href,
  disabled = false,
  class: className = "",
  ...rest
} = Astro.props;

// Generate class names
const baseClasses = "card";
const variantClass = `card--${variant}`;
const sizeClass = `card--${size}`;
const alignClass = `card--${align}`;
const disabledClass = disabled ? "card--disabled" : "";

const classes = [
  baseClasses,
  variantClass,
  sizeClass,
  alignClass,
  disabledClass,
  className,
]
  .filter(Boolean)
  .join(" ");

// Choose element type
const Element = href ? "a" : "div";
const elementProps = href ? { href, ...rest } : { ...rest };
---

<Element class={classes} {...elementProps}>
  {title && <h4>{title}</h4>}
  {description && <p>{description}</p>}

  <div class="shine"></div>
  <div class="background">
    <div class="tiles">
      <div class="tile tile-1"></div>
      <div class="tile tile-2"></div>
      <div class="tile tile-3"></div>
      <div class="tile tile-4"></div>
      <div class="tile tile-5"></div>
      <div class="tile tile-6"></div>
      <div class="tile tile-7"></div>
      <div class="tile tile-8"></div>
      <div class="tile tile-9"></div>
      <div class="tile tile-10"></div>
    </div>

    <div class="line line-1"></div>
    <div class="line line-2"></div>
    <div class="line line-3"></div>
  </div>

  <slot />
</Element>

<style>
  /* Base card Styles */
  * {
    --text-color: hsl(from var(--primary) h s l / 0.8);

    --card-background-color: rgba(255, 255, 255, 0.015);
    --card-border-color: var(--border);
    --card-box-shadow-1: rgba(0, 0, 0, 0.05);
    --card-box-shadow-1-y: 3px;
    --card-box-shadow-1-blur: 6px;
    --card-box-shadow-2: rgba(0, 0, 0, 0.1);
    --card-box-shadow-2-y: 8px;
    --card-box-shadow-2-blur: 15px;
    --card-shine-opacity: 0.1;
    --card-shine-gradient: radial-gradient(
        49% 81% at 45% 47%,
        #ffe20345 0%,
        #073aff00 100%
      ),
      radial-gradient(113% 91% at 17% -2%, #ff5a00ff 1%, #ff000000 99%),
      radial-gradient(142% 91% at 83% 7%, #ffdb00ff 1%, #ff000000 99%),
      radial-gradient(142% 91% at -6% 74%, #ff0049ff 1%, #ff000000 99%),
      radial-gradient(142% 91% at 111% 84%, #ff7000ff 0%, #ff0000ff 100%);
    --card-line-color: hsl(from var(--secondary) h s l / 0.5);
    --card-tile-color: hsl(from var(--primary) h s l / 0.05);

    --card-hover-border-color: rgba(255, 255, 255, 0.2);
    --card-hover-box-shadow-1: rgba(0, 0, 0, 0.04);
    --card-hover-box-shadow-2: rgba(0, 0, 0, 0.3);
    --card-hover-box-shadow-2-y: 15px;
    --card-hover-box-shadow-2-blur: 25px;
  }

  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: var(--background);
    padding: 1rem;
    border: 1px solid;
    border-radius: var(--radius);
    position: relative;
    transition: all 0.25s ease-in-out;
    text-decoration: none;
    aspect-ratio: 2 / 1;
    backdrop-filter: blur(12px);
  }

  .card:hover {
    /* transform: translateY(-4px); */
    box-shadow: 0 0px 20px hsl(from currentColor h s l / 0.05);
    backdrop-filter: blur(2px);
    border-color: hsl(from currentColor h s l / 0.1);
  }

  /* .card::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 15px;
    background-color: var(--card-background-color);
  } */

  .card h4 {
    z-index: 2;
    position: relative;
    color: var(--card-label-color);
  }

  .card p {
    z-index: 2;
    position: relative;
    margin: 0;
    font-size: var(--step--1);
    line-height: 1.2;
    color: var(--text-color);
  }

  .shine {
    border-radius: inherit;
    position: absolute;
    inset: 0;
    z-index: 1;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.5s;
  }

  .shine::before {
    content: "";
    width: 150%;
    padding-bottom: 150%;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    bottom: 55%;
    filter: blur(32px);
    opacity: var(--card-shine-opacity);
    transform: translateX(-50%);
    background-image: var(--card-shine-gradient);
  }

  .background {
    border-radius: inherit;
    position: absolute;
    inset: 0;
    overflow: hidden;
    -webkit-mask-image: radial-gradient(
      circle at 60% 5%,
      black 0%,
      black 15%,
      transparent 60%
    );
    mask-image: radial-gradient(
      circle at 60% 5%,
      black 0%,
      black 15%,
      transparent 60%
    );
  }

  .tiles {
    opacity: 0;
    transition: opacity 0.25s;
  }

  .tile {
    position: absolute;
    background-color: var(--card-tile-color);
    animation-duration: 8s;
    animation-iteration-count: infinite;
    opacity: 0;
  }

  .tile-4,
  .tile-6,
  .tile-10 {
    animation-delay: -2s;
  }

  .tile-3,
  .tile-5,
  .tile-8 {
    animation-delay: -4s;
  }

  .tile-2,
  .tile-9 {
    animation-delay: -6s;
  }

  .tile-1 {
    top: 0;
    left: 0;
    height: 10%;
    width: 22.5%;
  }

  .tile-2 {
    top: 0;
    left: 22.5%;
    height: 10%;
    width: 27.5%;
  }

  .tile-3 {
    top: 0;
    left: 50%;
    height: 10%;
    width: 27.5%;
  }

  .tile-4 {
    top: 0;
    left: 77.5%;
    height: 10%;
    width: 22.5%;
  }

  .tile-5 {
    top: 10%;
    left: 0;
    height: 22.5%;
    width: 22.5%;
  }

  .tile-6 {
    top: 10%;
    left: 22.5%;
    height: 22.5%;
    width: 27.5%;
  }

  .tile-7 {
    top: 10%;
    left: 50%;
    height: 22.5%;
    width: 27.5%;
  }

  .tile-8 {
    top: 10%;
    left: 77.5%;
    height: 22.5%;
    width: 22.5%;
  }

  .tile-9 {
    top: 32.5%;
    left: 50%;
    height: 22.5%;
    width: 27.5%;
  }

  .tile-10 {
    top: 32.5%;
    left: 77.5%;
    height: 22.5%;
    width: 22.5%;
  }

  @keyframes tile {
    0%,
    12.5%,
    100% {
      opacity: 1;
    }
    25%,
    82.5% {
      opacity: 0;
    }
  }

  .line {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: opacity 0.35s;
  }

  .line::before,
  .line::after {
    content: "";
    position: absolute;
    background-color: var(--card-line-color);
    transition: transform 0.35s;
  }

  .line::before {
    left: 0;
    right: 0;
    height: 1px;
    transform-origin: 0 50%;
    transform: scaleX(0);
  }

  .line::after {
    top: 0;
    bottom: 0;
    width: 1px;
    transform-origin: 50% 0;
    transform: scaleY(0);
  }

  .line-1::before {
    top: 10%;
  }

  .line-1::after {
    left: 22.5%;
  }

  .line-1::before,
  .line-1::after {
    transition-delay: 0.3s;
  }

  .line-2::before {
    top: 32.5%;
  }

  .line-2::after {
    left: 50%;
  }

  .line-2::before,
  .line-2::after {
    transition-delay: 0.15s;
  }

  .line-3::before {
    top: 55%;
  }

  .line-3::after {
    right: 22.5%;
  }

  /* .card:hover {
    box-shadow:
      0px 3px 6px var(--card-hover-box-shadow-1),
      0px var(--card-hover-box-shadow-2-y) var(--card-hover-box-shadow-2-blur)
        var(--card-hover-box-shadow-2),
      0 0 0 1px var(--card-hover-border-color);
  } */

  .card:hover .shine {
    opacity: 1;
    transition-duration: 0.5s;
    transition-delay: 0s;
  }

  .card:hover .tiles {
    opacity: 1;
    transition-delay: 0.25s;
  }

  .card:hover .tile {
    animation-name: tile;
  }

  .card:hover .line {
    opacity: 1;
    transition-duration: 0.15s;
  }

  .card:hover .line::before {
    transform: scaleX(1);
  }

  .card:hover .line::after {
    transform: scaleY(1);
  }

  .card:hover .line-1::before,
  .card:hover .line-1::after {
    transition-delay: 0s;
  }

  .card:hover .line-2::before,
  .card:hover .line-2::after {
    transition-delay: 0.15s;
  }

  .card:hover .line-3::before,
  .card:hover .line-3::after {
    transition-delay: 0.3s;
  }

  .card:focus-visible {
    outline: 2px solid var(--primary);
    outline-offset: 2px;
  }

  .card--disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  /* Size Variants */
  .card--small {
    padding: 0.75rem;
    font-size: var(--step--2);
    aspect-ratio: 2.5 / 1;
  }

  .card--medium {
    padding: 1rem;
    font-size: var(--step--1);
  }

  .card--large {
    padding: 1.5rem;
    font-size: var(--step-0);
    aspect-ratio: 1.5/1;
  }

  /* Alignment */
  .card--left {
    text-align: left;
  }

  .card--center {
    text-align: center;
  }

  .card--right {
    text-align: right;
  }

  /* Variant Styles - Adapting to your design system */
  .card--default,
  .card--primary {
    background-color: hsl(from var(--foreground) h s l / 1);
    border-color: hsl(from var(--primary) h s l / 0.2);
    color: var(--secondary);

    p,
    h4 {
      --text-color: hsl(from var(--secondary) h s l / 0.8);
    }

    .line::before,
    .line::after {
      --card-line-color: hsl(from var(--secondary) h s l / 0.1);
    }
  }

  html.dark {
    .card--default,
    .card--primary {
      background-color: hsl(from var(--foreground) h s l / 0.8);
    }
  }

  .card--secondary {
    background-color: hsl(from var(--primary) h s l / 0.05);
    border-color: hsl(from var(--primary) h s l / 0.2);
  }

  .card--outline {
    background-color: transparent;
    border-color: var(--border);

    .tile {
      --card-tile-color: hsl(from var(--foreground) h s l / 0.01);
    }

    .line::before,
    .line::after {
      --card-line-color: hsl(from var(--secondary) h s l / 1);
    }

    .shine {
      --card-shine-gradient: radial-gradient(
          49% 81% at 45% 47%,
          #ffffff0a 0%,
          #073aff00 100%
        ),
        radial-gradient(
          113% 91% at 17% -2%,
          rgba(0, 132, 255, 0) 1%,
          #4400ff00 99%
        );
    }
  }

  .card--ghost {
    background-color: transparent;
    border-color: transparent;
    --card-tile-color: hsl(from var(--foreground) h s l / 0.05);

    .tile {
      --card-tile-color: hsl(from var(--card) h s l / 0);
    }

    .line::before,
    .line::after {
      --card-line-color: hsl(from var(--secondary) h s l / 0);
    }

    .shine {
      --card-shine-gradient: radial-gradient(
          49% 81% at 45% 47%,
          #ffffff0a 0%,
          #073aff00 100%
        ),
        radial-gradient(
          113% 91% at 17% -2%,
          rgba(0, 132, 255, 0) 1%,
          #4400ff00 99%
        );
    }
  }

  .card--info {
    background-color: hsl(from var(--info) h s l / 0.1);
    border-color: hsl(from var(--info) h s l / 0.2);

    .tile {
      --card-tile-color: hsl(from var(--info) h s l / 0.05);
    }

    .shine {
      --card-shine-gradient: radial-gradient(
          49% 81% at 45% 47%,
          #ffffffd2 0%,
          #073aff00 100%
        ),
        radial-gradient(113% 91% at 17% -2%, rgb(0, 132, 255) 1%, #4400ff00 99%);
    }
  }

  .card--success {
    background-color: hsl(from var(--success) h s l / 0.1);
    border-color: hsl(from var(--success) h s l / 0.2);

    .tile {
      --card-tile-color: hsl(from var(--success) h s l / 0.05);
    }

    .shine {
      --card-shine-gradient: radial-gradient(
          49% 81% at 45% 47%,
          #ddffd9d2 0%,
          #073aff00 100%
        ),
        radial-gradient(113% 91% at 17% -2%, rgb(0, 255, 13) 1%, #4400ff00 99%);
    }
  }

  .card--warning {
    background-color: hsl(from var(--warning) h s l / 0.1);
    border-color: hsl(from var(--warning) h s l / 0.2);

    .tile {
      --card-tile-color: hsl(from var(--warning) h s l / 0.05);
    }

    .shine {
      --card-shine-gradient: radial-gradient(
          49% 81% at 45% 47%,
          #faf8dfd2 0%,
          #073aff00 100%
        ),
        radial-gradient(113% 91% at 17% -2%, rgb(255, 196, 0) 1%, #4400ff00 99%);
    }
  }

  .card--error {
    background-color: hsl(from var(--error) h s l / 0.1);
    border-color: hsl(from var(--error) h s l / 0.2);

    .tile {
      --card-tile-color: hsl(from var(--error) h s l / 0.05);
    }

    .shine {
      --card-shine-gradient: radial-gradient(
          49% 81% at 45% 47%,
          #ffcdcdd2 0%,
          #073aff00 100%
        ),
        radial-gradient(113% 91% at 17% -2%, rgb(255, 0, 0) 1%, #4400ff00 99%);
    }
  }

  /* Link hover effects */
  a.card:hover {
    text-decoration: none;
  }
</style>
